
#background{
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url("op_wallpaper.jpg");
    border-radius: 10px;
    border: 5px solid greenyellow;
    margin-top: 50px;
}

#mainbg{
    background-image: url("mainBG.jpg");
    background-size: cover;
}

#section1{
    border-radius: 10px;
    border: 5px solid rgb(47, 255, 75);
}

#menu{
    color: whitesmoke;
}

#zoan{
    background-image: url("bgzoan.jpg");
    background-size: cover;
}

#paramecia{
    background-image: url("bg2.jpg");
    background-size: cover;
}
#logia{
    background-image: url("logiaBG.jpg");
    background-size: cover;
}

.nav-item:hover{
    background-color: rgb(255, 167, 4);
    border-radius: 3px;
}


/*TEXT EFFECTS*/
